* {
    margin: 0;
    padding: 0;
}

.loginPage {
    display: flex;
}

.part1-login {
    box-sizing: border-box;
    padding: 50px;
    width: 50%;
    height: 100vh;
}

.part2-login {
    width: 50%;
}

.form {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    margin: 0 30%;
}

.form h1 {
    margin-bottom: 40px;
}

.littletext {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.area {
    border: 1px rgb(207, 207, 207) solid;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: white;
}

.area:focus {
    outline: none;
}

.section span {
    float: right;
}

.signinButton {
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
    color: white;
    background-color: black;
    font-weight: 700;
    text-align: center;

}

.signinButton:hover {
    cursor: pointer;
    background-color: #2B4865;
    transition: all .2s ease-in-out
}

.formBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.formBottom p {
    margin-right: 5px;
}

.formBottom a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition: all .2s ease-in-out;
}

.part2-login {
    width: 50%;
}

.image {
    height: 100%;
}

.part2-login img {
    height: 99.5%;
    width: 100%;
    object-fit: fill;
    filter: blur(5px);
}

.okda {
    margin: 0
}

.arxaya {
    background-color: white;
    color: black;
    border: 2px solid #000000; /* Green */
    width: 50px;
    height: 20px;
}