* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}
.header {
    margin: 100px 70px 50px 80px;
}

.eticketfoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.main {
    padding: 80px;
    margin-left: 70px; 
    background-color: #ffff; 
    border-radius: 50px;
    
}
