* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.list-group {
    width: 250px;
    margin: 70px;
    background-color: #ffff;
    border-radius: 25px;
}

/* .list-group a {
    width: 250px;

} */


.list-group a:hover {
    background-color: #00d084;
    color: #fff;
}