* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 70px;
  background-color: white;
  border-radius: 25px;
}
.list-group a {
  color: black;
  text-decoration: none;
}
/* .list-group a {
    width: 250px;

} */

.list-group a:hover {
  background-color: #00d084;
  color: #fff;
}
