body {
  font-family: Helvetica Neue, Helvetica, Arial, "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f1f1f1;
  color: #545454;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider_1 {
  border-radius: 10px;
  margin: 5% 20%;
  transition: 0.5s;
}

.slider_1:hover,
.slider_1:focus,
.slider_1:active {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}

.slider_1:hover .sliderTitle {
  background-color: black;
  top: 400px;
}


.imgAndTitle {
  /* position: relative; */
  width: 455px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.sliderImage {
  position: relative;
  max-width: 455px;
  /* max-height: 245px; */
  /* display: flex;
    justify-content: space-between; */
  margin-bottom: 1px;
  border-radius: 10px;
}

.sliderTitle {
  width: 455px;
  position: absolute;
  background-color: #00000080;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300px;
  font-size: 15px;
  padding: 12px 30px;
  /* display: flex;
    align-items: flex-end; */
  top: 420px;
  line-height: 55px;
  border-radius: 10px;
  transition: 0.1s;

}





.sliderDescription {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #333333;
  font-weight: bolder;
  margin-bottom: 15px;
  text-align: justify;
  padding: 0 10px;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.sliderDate {
  color: #4f8ad3;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  display: block;
  padding: 0 10px;
  padding-bottom: 10px;

}

.container {
  margin: 0 135px;
}

.iconAndTitle {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
}

.calendarIcon {
  width: 20px;
  margin: 0 8px 0 0;
}

.upcomingEvents {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  color: #333333;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */