.event__card{
    border: none;
    border-radius: 20px;
    padding: 30px;
    transition: 0.5s;
    box-shadow: -1px 3px 10px 1px #000;
    margin-right: 100px;
    color: black;
    width: 100%;
    margin-bottom: 80px;
}

.event__card:hover, .event__card:focus, .event__card:active {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    cursor:pointer;
    color: black;
}

.damla {
    width: 100px;
}

.eventTitle {
    margin: 15px 0;
}

.eventLoc {
    margin-bottom: 15px;;
}

.startTime {
    margin-top: 10px;
}

.endTime {
    margin-bottom: 15px;
}

.event__card__body {
}

.eventTitle, .startTime, .eventLoc, .endTime, .eventPrice a {
    text-decoration: none;

}