.event__card{
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: -1px 3px 10px 1px #000;
    color: black;
    width: 400px;
    margin-bottom: 40px;
    height: 80%;
}

.event__card:hover, .event__card:focus, .event__card:active {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    cursor:pointer;
    color: black;
}

.damla {
    width: 100px;
}

.eventTitle {
    margin: 15px 0;
}

.eventLoc {
    margin-bottom: 15px;;
}

.startTime {
    margin-top: 10px;
}

.endTime {
    margin-bottom: 15px;
}


/* .eventTitle, .startTime, .eventLoc, .endTime, .eventPrice  {
    overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
    background-color: red;
} */

.event__card__image {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.event__card__body {
    padding: 20px;

}

.eventTitle {
    font-size: 24px;
}

.eventLoc, .startTime, .endTime {
    font-size: 20px;
}

.eventPrice {
    font-size: 24px;
}

.ok {
    height: 50%;
}