* {
    margin: 0;
    padding: 0;
  }
  
  .menu {
    background-color: #026670;
    box-shadow: 1px 1px 20px 1px rgb(58, 58, 58);
  }
  
  .nese {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logo {
  }
  
  .navbar {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  .navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .navbar img {
    width: 20px;
  }
  
  .seachButton {
    border: none;
    background-color: transparent;
  }
  
  .seachButton:hover {
    background-color: transparent;
  }
  
  .icons {
    background-color: #9fedd7;
    padding: 20px;
    border-radius: 50px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    z-index: 1;
    right: 5%;
    box-shadow: -1px 3px 10px 1px #000;
  }
  
  .icons:hover {
    /* background-color: #fdeba9; */
    box-shadow: -1px 3px 20px 5px #000;
    transition: all 0.1s;
  }
  
  .lupa,
  .heart,
  .cart,
  .user {
    margin: 0 10px;
    width: 20px;
  }