* {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #026670;
  box-shadow: 1px 1px 20px 1px rgb(58, 58, 58);
  position: relative;
}

.nese {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.navbar a {
  /* the height */
  --h: 1.2em;

  line-height: var(--h);
  text-shadow: 0 var(--_t, var(--h)) #fffcdf, 0 0 var(--_c, #000);
  background: linear-gradient(#9fedd7 0 0) bottom/100% var(--_d, 0) no-repeat;
  overflow: hidden;
  transition: 0.3s;
}
.navbar a:hover {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}

/* .navbar a:hover {
  cursor: pointer;
  border: none;
  transition: all 0.1s;
  box-shadow: -1px 3px 20px 5px white;
} */

.navbar img {
  width: 20px;
}

.seachButton {
  border: none;
  background-color: transparent;
}

.seachButton:hover {
  background-color: transparent;
}

.icons {
  background-color: #9fedd7;
  padding: 20px;
  border-radius: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  z-index: 1;
  right: 5%;
  box-shadow: -1px 3px 10px 1px #000;
}

.icons:hover {
  box-shadow: -1px 3px 20px 5px #000;
  transition: all 0.1s;
}

.lupa,
.heart,
.cart,
.user {
  margin: 0 10px;
  width: 20px;
}
.dropwdown:hover .dropdownContent {
  display: block;
}
.dropdownBtn button {
  background-color: transparent;
  color: white;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;

  background-color: #9fedd7;
  padding: 20px;
  border-radius: 50px;
  width: 20%;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 10px;
  z-index: 1;
  right: 5%;
  box-shadow: -1px 3px 10px 1px #000;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 3px;
  top: 45px;
  width: 45%;
  padding: 10px;
  background-color: #9fedd7;
  border: 0.5px solid #026670;
  border-radius: 15px;
  /* max-width: 50%; */
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.linkStyles {
  text-decoration: none;
  color: black;
}

.dropdownBtn button:hover {
  background-color: transparent;
}

.dropdownBtn:hover .dropdownContent {
  display: block;
}
