.home_cards {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    padding: 40px;
    background-color: #fffcdf;
    margin-top: 15px;
}

.home_card {
    position: relative;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center ;
    transition: top ease 0.3s
}

.home_card img {
    width: 30px;
    margin-bottom:  10px;
    
}

.home_card:hover {
    cursor: pointer;
    top: -10px
}

.p1 {
    font-weight: 600;
}

.p2 {
    color: gray;
}