.footer-part-1 {
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #2B4865;
    padding: 50px 40px;
}

.footer-part-1 a {
    text-decoration: none;
    color: rgb(156, 177, 197);
    font-weight: 400;
}

.footer-part-1 a:hover {
    text-decoration: underline;
    color: white;
    font-weight: 400;
}

.footer-part-1 p {
    color: rgb(156, 177, 197);
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    line-height: 3;
}

.footer-col-1 .bold {
    font-size: 20px;
    color: white;
}

.footer-col-4 {
    display: flex;
    flex-direction: column;
    width: 20%;

}

.bold {
    font-weight: 600;
    color: white !important;
}

.footer-part-2 {
    padding: 20px;
    ;
    color: white;
    background-color: #002B5B;
    text-align: center;
}